/* Copied (and modified) from https://github.com/arcuri82/web_development_and_api_design/blob/master/exercise-solutions/quiz-game/part-09/public/style.css */

@font-face {
  font-family: codystar-regular;
  src: url("../font/Codystar-regular.ttf");
}

@font-face {
  font-family: opensans-regular;
  src: url("../font/OpenSans-Regular.ttf");
}
p {
  font-family: opensans-regular;
}

.main-content {
  margin: auto;
  width: 100%;
}

.header {
  display: flex;
  padding: 1rem 4rem;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  font-family: codystar-regular;
  font-size: 5rem;
  text-decoration: none;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #e10531);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text {
  font-family: opensans-regular;
  align-self: center;
  font-size: large;
}
.header-button {
  background-color: #e10531;
  color: #fff;
  font-family: opensans-regular;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 1rem 0 1rem;
}
.header-button:focus,
.header-button:hover {
  background-color: #a50727;
  color: #ebe9e4;
}

.action-buttons {
  font-family: opensans-regular;
  margin-top: 2rem;
}

.heading {
  font-family: opensans-regular;
  margin: 2rem 0;
}

.welcome-text {
  font-family: opensans-regular;
  font-size: 1.5em;
  margin-bottom: 1rem;
}
.action {
  padding: 1rem 0;
  margin: 0px;
}

.home {
  width: 80%;
}

.wallet {
  font-family: opensans-regular;
  background-color: #a50727;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.button {
  background-color: #e10531;
  color: #fff;
  font-family: opensans-regular;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
.button:focus,
.button:hover {
  background-color: #a50727;
  color: #ebe9e4;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.limited {
  max-width: 50%;
}

.special {
  width: 80%;
}

#title {
  text-align: center;
}

#crystals {
  text-align: center;
  font-family: opensans-regular;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#crystals td,
#crystals th {
  border: 1px solid #ddd;
  padding: 8px;
}

#crystals tr:nth-child(even) {
  background-color: #f2f2f2;
}

#crystals tr:hover {
  background-color: #ddd;
}

#crystals th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #e10531;
  color: white;
}
